# Nixobolus - Automated creation of bootable images
# https://github.com/ponkila/Nixobolus

{#- Paths #}
{%- set ssh = data.services.ssh %}

{#- Defaults #}
{%- set enable             = ssh.enable             | default(true) %}
{%- set permit_root_login  = ssh.permit_root_login  | default(false) %}
{%- set password_auth      = ssh.password_auth      | default(true) %}
{%- set username           = data.user              | default("validator") %}

{ config, pkgs, ... }:

{
    # SSH
    services.openssh = {
        enable = {{ enable | lower }};
        settings = {
            permitRootLogin = {{ permit_root_login | lower }};
            passwordAuthentication = {{ password_auth | lower }};
        };
    };

    # Users
    {%- if ssh.public_keys %}
    users.users.{{ username }}.openssh.authorizedKeys.keys = [
        {%- for key in ssh.public_keys %}
        "{{ key }}"
        {%- endfor %}
    ];
    {%- endif %}
}