# Nixobolus - Automated creation of bootable NixOS images
# https://github.com/ponkila/Nixobolus

{#- Paths #}
{%- set ts = data.services.tailscale %}

{#- Defaults #}
{%- set enable          = ts.enable             | default(false) %}
{%- set port            = ts.port               | default(41641) %}
{%- set interface       = ts.interface          | default("tailscale0") %}
{%- set permit_cert_uid = ts.permit_cert_uid    | default(none) %}

{ config, pkgs, ... }:

{
    # Tailscale
    services.tailscale = {
        enable = {{ enable | lower }};
        port = {{ port }};
        interfaceName = "{{ interface }}";
        {%- if username %}
        permitCertUid = {{ permit_cert_uid }}; 
        {%- endif %}
    };

    # Firewall
    networking.firewall = {
        checkReversePath = "loose";
        allowedUDPPorts = [ {{ port }} ]; # Facilitate firewall punching
    };
}